# Binaries
**/bin/
**/obj/

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo

# Tests
**/tests/

# Git
.git/
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Documentation
README.md
*.md

# CI/CD
.github/
